<!DOCTYPE html>
<html>
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/style2.css" />
  <head>
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">
    <style>
      body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      .leaderboard {
        font-family: poppins;
        width: 100%;
        height: 100%;
        background: rgb(246, 247, 251);
        position: relative;
      }
      .lead {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 30px;
      }
      .lead-title {
        width: fit-content;
        padding: 10px 30px;
        background: rgb(72, 195, 118);
        border-top-right-radius: 8mm;
        border-bottom-right-radius: 8mm;
        font-family: poppins;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .lead-title span {
        font-weight: 400;
        color: white;
      }
      .tables{
        width: 98%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: left;
        background: white;
        box-sizing: border-box;
        border-radius: 1mm;
        padding: 0 15px;
        padding-bottom: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .tables table{
        width: 100%;
        border-collapse: collapse;
        flex-grow: 1;
      }
      .tables table tr{
        width: 100%;
      }
      .tables table th{
        box-sizing: border-box;
        border-bottom: 0.6mm solid rgb(235, 235, 235);
        padding: 10px;
      }
      .tables table td{
        box-sizing: border-box;
        padding: 10px;
        border-bottom: 0.5mm solid rgb(235, 235, 235);
      }
      .table-center{
        overflow-x: scroll;
      }
      .table-center::before {
        content: "";
        display: block;
        height: 2px;
      }
      .table-center::-webkit-scrollbar{
        height: 2px;
      }
      .table-center td{
        min-width: 250px;
      }
      .table-center td:nth-child(even), .table-center th:nth-child(even), .table-left td:nth-child(3), .table-left th:nth-child(3) {
        background-color: rgb(248,248,248);
      }
      .table-left td:nth-child(2){
        min-width: 230px;
        box-sizing: border-box;
        padding: 10px;
      }
      .table-left td, .table-left th{
        text-align: left;
      }
      .table-center td, .table-center th{
        text-align: center;
      }
      .table-center td span{
        font-size: 20px;
        line-height: 2px;
      }
      .progress-data{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .progress{
        position: relative;
        width: 75px;
        height: 5px;
        border-radius: 1mm;
        background: rgba(0,0,0,0.3);
        margin-left: 10px;
      }
      .bar{
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        border-radius: 1mm;
        background: rgb(251,188,4);
      }
      .table-left td:nth-child(3){
        text-align: center;
      }
      .table-right td:nth-child(1), .table-right th:nth-child(1){
        min-width: 150px;
        color: white;
        background: rgb(72, 195, 118);
        border-color: rgb(54, 152, 90);
      }
      .table-right td:nth-child(2){
        font-size: 13px;
        min-width: 180px;
      }
      .table-right{
        flex-grow: 1;
      }
      .table-right th:nth-child(2){
        min-width: 180px;
      }
    </style>
  </head>
  <body>
    <div class="leaderboard">
      <div class="lead">
        <div class="lead-title">
          <span>Leaderboard:</span>
          <%= datap[0].contestId.toUpperCase() %>
        </div>
      </div>
      <div class="tables">
        <div class="table-left">
          <table>
            <tr>
              <th></th>
              <th>
                Roll Number
              </th>
              <th>
                Branch
              </th>
            </tr>
            <% for(let i=0; i < datap.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= datap[i].username.toUpperCase() %></td>
              <td><%= datap[i].branch.toUpperCase() %></td>
            </tr>
            <% } %>
          </table>
        </div>
        <div class="table-center">
          <table>
            <tr>
              <% for(let i=0;i<dataq.length;i++){ %>
                <th><%= dataq[i].questionId %></th>
              <%}%>
            </tr>
              <% for(let j=0; j < datap.length; j++){ %>
                <tr>
                  <% for(let i=0;i<dataq.length;i++){ %>
                    <% let qs=0; %>
                    <% for (let k = 0;  k < datap[j].submissionResults.length; k++ ){ %>
                      <% if(dataq[i].questionId==datap[j].submissionResults[k].questionId) { %>
                        <% qs=datap[j].submissionResults[k].score %>
                       <%}}%>
                        <% if(qs==0){ %>
                          <td style="color: rgb(234,67,53);"><%= qs %></td>
                        <% } else if(qs==25){ %>
                          <td style="color: rgb(251,188,4);"><%= qs %></td>
                        <% } else { %>
                          <td style="color: rgb(52,168,83);"><%= qs %></td>
                        <%}%>
                       <%}%>
                      </tr>
              <%}%>
          </table>
        </div>
        <div class="table-right">
          <table class="table">
            <tr>
              <th>Total Score</th>
              <th>Pariticipation Time</th>
            </tr>
            <% for(let i=0; i < datap.length; i++){ %>
            <tr>
              <% let k = 0, s=dataq.length*100, d = new Date(datap[i].participationTime); %> <% if (datap[i].submissionResults.length !== 0){ %>
              <% for (let j = 0; j < datap[i].submissionResults.length; j++ ){ %> <%
              k = k + datap[i].submissionResults[j].score %> <% } %> <% } %>
              <td class="progress-data"><%= k %> <span class="progress">
                <span class="bar" style="width: <%= (k/s)*75+'px' %>;"></span>
              </span></td>
              <td><%= d.getDate()+"/"+Number(d.getMonth()+1)+"/"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes() %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
      
    </div>
  </body>
</html>
